# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = exchange-scrappers.settings
max_proc = 4

[deploy]
project = crypto-exchange-listings
